@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KumbhSans";
  src: url(../../public//assets/fonts/kumbhSans400.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KumbhSans";
  src: url(../../public//assets/fonts/kumbhSans700.woff);
  font-weight: 700;
  font-style: normal;
}